# Dependências
/node_modules
/.pnp
.pnp.js

# Ambiente de desenvolvimento
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build
/dist
/build
/out

# Cache
.cache
.temp
.mf
.rollup.cache
tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ambiente
.env
.env.local
.env.*.local

# Sistema
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
backend/env/
backend/.env

# Electron
/dist-electron